version: '3.9'

services:

  bot:
    build: ./bot
    container_name: pho_cherry_bot
    command: python main.py
    volumes:
      - ./bot:/app
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      API_URL: ${API_URL}
      ADMIN_ID: ${ADMIN_ID}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      LOG_LEVEL: DEBUG
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: pho_cherry_backend
    restart: always
    command: python -m uvicorn main:app --host 0.0.0.0 --port 8000 --reload --reload-dir /app --reload-dir /app/web
    volumes:
      - ./backend:/app
      - ./web:/app/web
      - ./backend/menu_data.json:/app/menu_data.json
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/pho_cherry
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      LOG_LEVEL: DEBUG
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:18
    container_name: pho_cherry_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql 

  pgadmin:
    image: dpage/pgadmin4
    container_name: pho_cherry_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
    
volumes:
  db_data:
  pgadmin_data:
